<% dow = [ "Tue", "Wed", "Thu", "Fri", "Sat", "Sun", "Mon" ] %>
<% now = Time.now.getgm %>
<table class="planner tlite-table">
	<thead>
		<tr>
			<th>Days \ Hours</th>
			<% series.race_times.each do |mins| %>
        <th><%= (mins / 60).to_s.rjust(2, '0') %>:<%= (mins % 60).to_s.rjust(2, '0') %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% week.race_days.each_with_index do |day, dayIndex| %>
			<tr>
				<th style="text-align:left">
					<%= dow[dayIndex] %>
					<%= day.strftime("%Y/%m/%d") %>
				</th>
				<% series.race_times.each_with_index do |mins, minsIndex| %>
					<% index = dayIndex * series.race_times.length + minsIndex %>
					<% race_plans = plans.select{ |plan| plan.race == index } %>
          <% race_probability = race_plans.map(&:probability).inject(0, &:+).to_f / 100 %>
          <% hil_color = highlight.select { |h| h.index == index and h.series_id == series.id }.first %>
          <%
          if hil_color
            hil_color = " style='border-color: #{hil_color.color}' "
          else
            hil_color = ""
          end %>
					<% cell_class = ""
						 if race_probability > 0
							 cell_class = "unofficial"
							 if race_probability >= series.official
								 cell_class = "official"
							 end
						 end
					%>
					<% iso_date = "#{day.strftime("%Y-%m-%d")}T#{(mins / 60).to_s.rjust(2, '0')}:#{(mins % 60).to_s.rjust(2, '0')}:00Z" %>
					<% current_race_datetime = DateTime.new(
						day.strftime("%Y").to_i,
						day.strftime("%m").to_i,
						day.strftime("%d").to_i,
						mins / 60,
						mins % 60,
						0,
						'+00:00'
					) %>
					<% is_past = current_race_datetime < now %>
          <td class="<%= cell_class %>" <%= hil_color %> onmouseover="cellMouseOver(this, '<%= iso_date %>')"
						onmouseout="cellMouseOut(this)">
							<% if not race_plans.empty? %>
							<ul>
								<% race_plans.each do |plan| %>
									<!-- do not fix indentation: it's needed to keep non breaking spaces -->
									<li><% if buttons and not is_past %>
											<button type="button"
                                                                                                onclick="removeMyPlan(this, <%= plan.id %>, '<%= iso_date%>')"
                                                                                                value="<%= plan.htmlname(car_classes) %>">
												-
                                                                                        </button><% end %><%= plan.htmlname(car_classes) %>&nbsp;(<%= plan.probability %>%)
									</li>
								<% end %>
							</ul>
						<% end %>
						<% if buttons and not is_past %>
							<% if not race_plans.empty? %><hr><% end %>
							<button class=add type=button onclick="addMyPlan(<%= index %>)">+</button>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<p>Race times are in GMT timezone.</p>
<ul class=highlight-desc>
  <%= highlight.map { |h|
    <<-HTML
      <li>
        <span style="background-color: #{h.color}">
          &nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        #{h.name}
      </li>
    HTML
  }.uniq.join %>
</ul>
